

 
  /* font-family:{"Azeret Mono", monospace;}  */
  


.all-body{
    margin-left: 5%;
    margin-right: 5%;
}
nav{
    display: flex;
    justify-content: space-between;
   
}
.download{

    padding: 5px;
    border: solid;
    border-radius: 10px;
    display: inline;
    text-decoration: none;
}
.header{
    text-align: center;
    
    
}
header>h1{
    font-size: 50px;
}
header>button{
    border: solid 1px ;
    font-size: 20px;
    border-radius: 10px;
    -webkit-text-fill-color: aliceblue;
    background-color: black;
    margin-top: 30px;
    padding: 20px;
  
    

}
.why{
    text-align: center;
    margin-top: 110px;
}    
.first-image{
    display: flex;

}
.img{
     margin-left: 130px;
    }
.text-title{
    font-size: 25px;
}

.title{
    font-size: 35px;
}

.button{
    border: solid;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300px;
}

.secend-title{
    margin-left: 130px;

}
.my-title{
    text-align: center;
    margin-top: 110px;
    
}
.heading-title{
    font-size: 35px;
}
.card-title{
    font-weight: 400px;
}

.learn{
    font-size: 15px;
    display: inline;
    color: black;
}
.learn-more{
    font-size: 15px;
    font-weight: 300;
}
.first-card{
    padding: 10px;
    background-color: #fff6f4;

}
.secend-card{
    padding: 10px;
    background-color: #f2f6fe;
}
.third-card{
    padding: 10px;
    background-color: #fffdf2;
}
.main-card{
    display: flex;
    column-gap: 20px;
}
.react-box{
    margin-top: 20px;
}
.react-block{
    
    display: flex;
    border: solid 1px;
    border-radius: 30px;
    gap:80px;
    margin-top:20px;
    
}
.pic-position{
    padding: 40px;
}