
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100px;
}
 
  /* font-family:{"Azeret Mono", monospace;}  */
  


/* nav section */

.nav{
    display: flex;
    justify-content: space-around;
   
}
.download-resume{
    margin-top: 20px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 3px 10px;
    font-weight: bold;
  
}


.header{
    margin: 50px;
    height: auto;
    width:auto;
    text-align: center;
    background-image: url(./images/Hero-bg.png);
   
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px 20px;    
}
header>h1{
    font-size: 40px;
}
.button{
    border: solid 1px ;
    font-size: 20px;
    border-radius: 10px;
    -webkit-text-fill-color: aliceblue;
    background-color: black;
    margin-top: 30px;
    padding: 20px;
 }

/* main part */
.main{
    margin: 50px 70px;
}
.section{
    margin: 10px;
    background-color: rgba(244, 226, 226, 0.266);
    padding: 30px 40px;
    border-radius: 10px;
}

.description{
    font-weight: 400px;
    color: black;
}
.why{
    text-align: center;
    margin-top: 110px;
}    
.first-image, .third-image{
    display: flex;

}
.img{
     margin-left: 130px;
    }
.text-title{
    font-size: 25px;
}

.title{
    font-size: 35px;
}

.secend-title{
    margin-left: 130px;

}
/* section two  */
.my-title{
    text-align: center;
    margin-top: 110px;
    
}
.heading-title{
    font-size: 35px;
}
.video{
    margin-top: 30px;
    border: 2px solid rgba(222, 211, 211, 0.658);
    border-radius: 9px;
    padding: 40px;
 }
/* care section */
.card-title{
    font-weight: 400px;
}

.learn{
    font-size: 15px;
    display: inline;
    color: black;
}
.learn-more{
    font-size: 15px;
    font-weight: 300;
}
.first-card{
    padding: 10px;
    background-color: #fff6f4;

}
.secend-card{
    padding: 10px;
    background-color: #f2f6fe;
}
.third-card{
    padding: 10px;
    background-color: #fffdf2;
}
.main-card{
    display: flex;
    column-gap: 20px;
}
 /* react sections  */
.react-box{
    margin-top: 20px;
}
.react-block{
    
    display: flex;
    border: solid 1px;
    border-radius: 30px;
    gap:80px;
    margin-top:20px;
    
}
.pic-position{
    padding: 40px;
}

/* bacground img section */
.bacground-box{
    text-align: center;
    margin-top: 50px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.603);
    background-image: url('../styles/images/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 9px;

}
.text-shadow{
    color: #f2f6fe;
}
#small{
    font-size: 15px;
    margin-top: 90px;
}
.input-fild{
    margin-top: 70px;
}
.input-bg{
   
}

.submit, .plesholder-box{
    border-radius: 5px;
    background-color: #f2f6fe;
    padding: 10px 20px;
}
.bacground-box{
    width: 100%;
}
/* footer section */
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 50px;
}